<div id="dialog-menu">
  <ul>
    <% if user_signed_in? %>
      <li class="dialog-menu-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
